

<body>
    <div class="wrap">
        <div class="main">
            <div class="content">
                <div class="section group">
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>Who We Are</h3>
                        <img src="images/about_img.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>Our History</h3>
                        <div class="history-desc">
                            
                            <p class="history">
                                Công ty Văn Phòng Phẩm Tân Viễn Đông

                                Là một trong những doanh nghiệp có bề dày kinh nghiệm trên 10 năm chuyên cung cấp sỉ và lẻ các mặt hàng VPP với phong cách phục vụ tận tâm, nhanh chóng, uy tính. Lấy quyền lợi khách hàng đặt lên hàng đầu, chúng tôi luôn có những chính sách ưu đãi đặc biệt dành cho khách hàng với tiêu chí Văn Phòng Phẩm Siêu Rẻ.
                                Hãy để chúng tôi là đối tác lâu dài, người bạn thân trong việc chuyên cung cấp các mặt hàng sau:
                            </p>
                            <ul>
                                <li>Giấy In Văn Phòng</li>
                                <li>Bút Viết Văn Phòng</li>
                                <li>Sổ-Tập-Name Card</li>
                                <li>Băng Keo-Dao-Kéo-Bàn Cắt</li>
                                <li>Bìa Các Loại</li>
                                <li>File Hồ Sơ-Kệ-Rổ</li>
                                <li>Dụng Cụ Văn Phòng Phẩm</li>
                                <li>Giấy In Văn Phòng</li>
                            </ul>
                        
                                <h3>Tân Viễn Đông luôn tự hào là nhà phân phối các nhãn hiệu có tiếng trên thị trường và được các nhà sách, công ty, xí nghiệp chọn làm đối tác chiến lược.
                                Hãy để TVD phục vụ bạn!</h3>
                                <b>Hoặc gọi cho chúng tôi từ 7h30 đến 17h30 mỗi ngày  trừ Chủ Nhật.  0983.777.560  (or ) 028.6265.2222</b>

                            <h3>
                                Cám ơn các bạn đã ghé thăm.
                                Thân chào và hẹn gặp lại.
                            </h3>
                            <div class="clear"></div>
                        </div>
                       
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>


